.swagger-ui.swagger-ui .info .title {
  font-family: ChicagoFLF, sans-serif;
}
.swagger-ui.swagger-ui .servers-title {
  font-family: ChicagoFLF, sans-serif;
}
.swagger-ui.swagger-ui .opblock-tag {
  font-family: ChicagoFLF, sans-serif;
}
.swagger-ui.swagger-ui section.models h4 span {
  font-family: ChicagoFLF, sans-serif;
}
.swagger-ui.swagger-ui .opblock .opblock-summary-description {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  font-size: 16px;
  margin-top: 4px;
}
.swagger-ui.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
  font-family: Consolas, monaco, monospace;
}
.swagger-ui.swagger-ui .model {
  font-family: Consolas, monaco, monospace;
}
.swagger-ui.swagger-ui .opblock .opblock-section-header h4 {
  font-family: ChicagoFLF, sans-serif;
}
.swagger-ui a {
  color: var(--nsnavy);
}
.swagger-ui.swagger-ui .prop-type {
  color: var(--nsblue);
}

.swagger-ui.swagger-ui .btn.btn {
  border-color: var(--nsforest);
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  color: var(--nsforest);
  font-family: ChicagoFLF, sans-serif;
  font-size: 1rem;
  min-width: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.swagger-ui.swagger-ui .btn.btn:hover {
  box-shadow: none;
  transform: scale(1.05);
}

.swagger-ui.swagger-ui .btn.btn svg {
  fill: var(--nsforest);
}

.swagger-ui.swagger-ui .info .title small {
  border-radius: 0;
}
.swagger-ui.swagger-ui .info .title small.version-stamp {
  background-color: var(--nsyellow);
}

.swagger-ui.swagger-ui .opblock .opblock-summary-method {
  border-radius: 0;
}
.swagger-ui.swagger-ui .opblock.opblock-post {
  background-color: #0a854c33;
  border-color: var(--nsforest);
  border-radius: 0;
}
.swagger-ui.swagger-ui .opblock.opblock-post .opblock-summary-method {
  background-color: var(--nsforest);
}
.swagger-ui.swagger-ui .opblock.opblock-get {
  background-color: #47aed733;
  border-color: var(--nsblue);
  border-radius: 0;
}
.swagger-ui.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background-color: var(--nsblue);
}
.swagger-ui.swagger-ui .opblock.opblock-delete {
  background-color: #ee411633;
  border-color: var(--nsorange);
  border-radius: 0;
}
.swagger-ui.swagger-ui .opblock.opblock-delete .opblock-summary-method {
  background-color: var(--nsorange);
}
.swagger-ui.swagger-ui .opblock.opblock-put {
  background-color: #e2ba3633;
  border-color: var(--nsyellow);
  border-radius: 0;
}
.swagger-ui.swagger-ui .opblock.opblock-put .opblock-summary-method {
  background-color: var(--nsyellow);
}
.swagger-ui.swagger-ui section.models .model-container {
  background-color: #d8dad980;
}

.swagger-ui.swagger-ui .btn.execute {
  background-color: #fff;
}
