@supports not (aspect-ratio: auto) {
  .card-thumb {
    padding-top: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
  }
}

/*Components*/
.blog .card-grid {
  /* compenstate for cards being offset & center */
  padding-right: 0.6125rem;
  grid-template-columns: repeat(auto-fill, minmax(min(31%, 100%), 1fr));
}

@media screen and (max-width: 460px) {
  .blog .card-grid {
    grid-template-columns: 1fr;
  }
}

/* responsive */
@media screen and (max-width: 880px) {
  .highlight-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    left: 0;
  }

  .blog .highlight-info {
    background-color: var(--nsltblue);
    border-bottom: 1px solid var(--nsblack);
  }

  .blog-tags-buttons {
    justify-self: center;
  }
}

.highlight-card-text .title {
  line-height: 1.25;
  font-size: clamp(26px, 0.6rem + 2vw, 2.5rem);
  max-width: 32ch;
}
