/* decorators */
.hologram {
  text-decoration: none;
  border: var(--bwidth) solid var(--nsblack);
  box-shadow: var(--btn-ghost-x) var(--btn-ghost-y) 0px 0px var(--nsgray),
    var(--btn-ghost-x) var(--btn-ghost-y) 0px 1px var(--nsblack);
}

.hologram.interactive {
  transition: all 150ms ease;
  cursor: pointer;
}

.hologram.interactive:hover {
  box-shadow: var(--btn-ghost-x-hover) var(--btn-ghost-y-hover) 0px 0px
      var(--nsltblue),
    var(--btn-ghost-x-hover) var(--btn-ghost-y-hover) 0px 1px var(--nsblack);
}
