@import './vars.css';
@import './fonts.css';
@import './decorators.css';
@import './colors.css';
@import './utils.css';
@import './animations.css';
@import './logos.css';
@import './about.css';
@import './button.css';
@import './blog.css';
@import './markdown.css';
@import './nft-storage.swagger-ui.css';
@import './nextra-theme.css';
@import './nextra-overrides.css';
@import './nav.css';
@import './table.css';
@import './tabs.css';
@import './modal.css';
@import './footer.css';

.grid {
  display: grid;
}

img {
  user-select: none;
  -moz-user-select: none;
}
