.getting-started-callout {
  display: grid;
  grid-gap: clamp(2rem, 6vw, 6rem);
  align-items: center;
}

@media screen and (min-width: 68em) {
  .getting-started-callout {
    grid-template-columns: 1fr 1fr;
  }
}

.getting-started-callout img {
  border: 2px solid #000;
  box-shadow: 0.5rem -0.5rem 0 0px #fff, 0.5rem -0.5rem 0 2px #000;
}
