.marketplace-logos-container {
  max-width: 960px;
}
.marketplace-logo-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 0.5rem;
  padding: 20px;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .marketplace-logo-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.marketplace-logo {
  width: 100%;
  height: 80px;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 12px 20px;
  object-position: center;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  margin: 0 auto;
}
