.post .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.post .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.post .anchor:focus {
  outline: none;
}

.post h1 .octicon-link,
.post h2 .octicon-link,
.post h3 .octicon-link,
.post h4 .octicon-link,
.post h5 .octicon-link,
.post h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.post h1:hover .anchor,
.post h2:hover .anchor,
.post h3:hover .anchor,
.post h4:hover .anchor,
.post h5:hover .anchor,
.post h6:hover .anchor {
  text-decoration: none;
}

.post h1:hover .anchor .octicon-link,
.post h2:hover .anchor .octicon-link,
.post h3:hover .anchor .octicon-link,
.post h4:hover .anchor .octicon-link,
.post h5:hover .anchor .octicon-link,
.post h6:hover .anchor .octicon-link {
  visibility: visible;
}

.post h1:hover .anchor .octicon-link:before,
.post h2:hover .anchor .octicon-link:before,
.post h3:hover .anchor .octicon-link:before,
.post h4:hover .anchor .octicon-link:before,
.post h5:hover .anchor .octicon-link:before,
.post h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}
.post {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: var(--sansserif);
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.post details {
  display: block;
}

.post summary {
  display: list-item;
}

.post a {
  background-color: initial;
}

.post a:active,
.post a:hover {
  outline-width: 0;
}

.post strong {
  font-weight: inherit;
  font-weight: bolder;
}

.post h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.post img {
  border-style: none;
}

.post code,
.post kbd,
.post pre {
  font-family: monospace, monospace;
  font-family: var(--nsmonospace);
  font-size: 12px;
}

.post hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.post input {
  font: inherit;
  margin: 0;
}

.post input {
  overflow: visible;
}

.post [type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

.post * {
  box-sizing: border-box;
}

.post input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.post a {
  color: #0366d6;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.post strong {
  font-weight: 600;
}

.post hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.post hr:after,
.post hr:before {
  display: table;
  content: '';
}

.post hr:after {
  clear: both;
}

.post table {
  border-spacing: 0;
  border-collapse: collapse;
}

.post td,
.post th {
  padding: 0;
}

.post details summary {
  cursor: pointer;
}

.post kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 10px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'ChicagoFLF', sans-serif;
  font-weight: var(--nstitle);
  margin-bottom: 0.75em;
}

.post h1 {
  font-size: 32px;
}

.post h2 {
  font-size: 1.75em;
}

.post h3 {
  font-size: 1.25em;
}

.post h4 {
  font-size: 1em;
}

.post h5 {
  font-size: 0.875em;
}

.post h6 {
  font-size: 0.75em;
}

.post p {
  margin-top: 0;
  margin-bottom: 10px;
}

.post blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 0.25em solid var(--nsltblue);
}

.post ol,
.post ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}

.post ul > li {
  list-style-type: disc;
  margin: 0.5rem 0;
}

.post ol > li {
  list-style-type: decimal;
  margin: 0.5rem 0;
}

.post ol ol,
.post ul ol {
  list-style-type: lower-roman;
}

.post ol ol ol,
.post ol ul ol,
.post ul ol ol,
.post ul ul ol {
  list-style-type: lower-alpha;
}

.post dd {
  margin-left: 0;
}

.post pre {
  margin-top: 0;
  margin-bottom: 0;
}

.post pre > div {
  padding: 0 !important;
  margin: 0 !important;
  background: var(--nsgray-800) !important;
}

.post pre > div code,
pre > div code span {
  background: var(--nsgray-800) !important;
}

.post input::-webkit-inner-spin-button,
.post input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.post :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.post .border:not(.border-solid) {
  border: 1px solid #e1e4e8;
}

.post .border-0 {
  border: 0 !important;
}

.post .border-bottom {
  border-bottom: 1px solid #e1e4e8;
}

.post .rounded-1 {
  border-radius: 10px !important;
}

.post .bg-white {
  background-color: var(--nswhite);
}

.post .bg-gray-light {
  background-color: #fafbfc !important;
}

.post .text-gray-light {
  color: #6a737d !important;
}

.post .mb-0 {
  margin-bottom: 0 !important;
}

.post .my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.post .pl-0 {
  padding-left: 0 !important;
}

.post .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.post .pl-1 {
  padding-left: 4px !important;
}

.post .pl-2 {
  padding-left: 8px !important;
}

.post .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.post .pl-3,
.post .px-3 {
  padding-left: 16px !important;
}

.post .px-3 {
  padding-right: 16px !important;
}

.post .pl-4 {
  padding-left: 24px !important;
}

.post .pl-5 {
  padding-left: 32px !important;
}

.post .pl-6 {
  padding-left: 40px !important;
}

.post .f6 {
  font-size: 12px !important;
}

.post .lh-condensed {
  line-height: 1.25 !important;
}

.post .text-bold {
  font-weight: 600 !important;
}

.post .pl-c {
  color: #6a737d;
}

.post .pl-c1,
.post .pl-s .pl-v {
  color: #005cc5;
}

.post .pl-e,
.post .pl-en {
  color: #6f42c1;
}

.post .pl-s .pl-s1,
.post .pl-smi {
  color: #24292e;
}

.post .pl-ent {
  color: #22863a;
}

.post .pl-k {
  color: #d73a49;
}

.post .pl-pds,
.post .pl-s,
.post .pl-s .pl-pse .pl-s1,
.post .pl-sr,
.post .pl-sr .pl-cce,
.post .pl-sr .pl-sra,
.post .pl-sr .pl-sre {
  color: #032f62;
}

.post .pl-smw,
.post .pl-v {
  color: #e36209;
}

.post .pl-bu {
  color: #b31d28;
}

.post .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.post .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.post .pl-c2:before {
  content: '^M';
}

.post .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a;
}

.post .pl-ml {
  color: #735c0f;
}

.post .pl-mh,
.post .pl-mh .pl-en,
.post .pl-ms {
  font-weight: 700;
  color: #005cc5;
}

.post .pl-mi {
  font-style: italic;
  color: #24292e;
}

.post .pl-mb {
  font-weight: 700;
  color: #24292e;
}

.post .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.post .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.post .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.post .pl-mi2 {
  color: var(--nsgray-800);
  background-color: #005cc5;
}

.post .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}

.post .pl-ba {
  color: #586069;
}

.post .pl-sg {
  color: #959da5;
}

.post .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.post .mb-0 {
  margin-bottom: 0 !important;
}

.post .my-2 {
  margin-bottom: 8px !important;
}

.post .my-2 {
  margin-top: 8px !important;
}

.post .pl-0 {
  padding-left: 0 !important;
}

.post .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.post .pl-1 {
  padding-left: 4px !important;
}

.post .pl-2 {
  padding-left: 8px !important;
}

.post .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.post .pl-3 {
  padding-left: 16px !important;
}

.post .pl-4 {
  padding-left: 24px !important;
}

.post .pl-5 {
  padding-left: 32px !important;
}

.post .pl-6 {
  padding-left: 40px !important;
}

.post .pl-7 {
  padding-left: 48px !important;
}

.post .pl-8 {
  padding-left: 64px !important;
}

.post .pl-9 {
  padding-left: 80px !important;
}

.post .pl-10 {
  padding-left: 96px !important;
}

.post .pl-11 {
  padding-left: 112px !important;
}

.post .pl-12 {
  padding-left: 128px !important;
}

.post hr {
  border-bottom-color: #eee;
}

.post kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 10px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.post:after,
.post:before {
  display: table;
  content: '';
}

.post:after {
  clear: both;
}

.post > :first-child {
  margin-top: 0 !important;
}

.post > :last-child {
  margin-bottom: 0 !important;
}

.post a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.post blockquote,
.post details,
.post dl,
.post ol,
.post p,
.post pre,
.post table,
.post ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.post hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.post blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.post blockquote > :first-child {
  margin-top: 0;
}

.post blockquote > :last-child {
  margin-bottom: 0;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
}

.post h1 {
  font-size: 2em;
}

.post h1,
.post h2 {
  padding-bottom: 0.3em;
}

.post h2 {
  font-size: 1.5em;
}

.post h3 {
  font-size: 1.25em;
}

.post h4 {
  font-size: 1em;
}

.post h5 {
  font-size: 0.875em;
}

.post h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.post ol,
.post ul {
  padding-left: 2em;
}

.post ol ol,
.post ol ul,
.post ul ol,
.post ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post li {
  word-wrap: break-all;
}

.post li > p {
  margin-top: 16px;
}

.post li + li {
  margin-top: 0.25em;
}

.post dl {
  padding: 0;
}

.post dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.post dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.post table {
  display: block;
  width: 100%;
  overflow: auto;
}

.post table th {
  font-family: var(--sansserif);
  font-weight: bold;
}

.post table td,
.post table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.post table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.post table tr:nth-child(2n) {
  background-color: var(--nsgray-800);
}

.post img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.post img[align='right'] {
  padding-left: 20px;
}

.post img[align='left'] {
  padding-right: 20px;
}

.post img.align-center {
  margin: 0 auto;
}

.post code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 10px;
}

.post pre {
  word-wrap: normal;
}

.post pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.post .highlight {
  margin-bottom: 16px;
}

.post .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.post .highlight pre,
.post pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--nsgray-800);
  border-radius: 10px;
}

.post pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

.post .commit-tease-sha {
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 90%;
  color: #444d56;
}

.post .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.post .blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.post .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.post .blob-num {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27, 31, 35, 0.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post .blob-num:hover {
  color: rgba(27, 31, 35, 0.6);
}

.post .blob-num:before {
  content: attr(data-line-number);
}

.post .blob-code {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}

.post .blob-code-inner {
  overflow: visible;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

.post .pl-token.active,
.post .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}

.post .tab-size[data-tab-size='1'] {
  -moz-tab-size: 1;
  tab-size: 1;
}

.post .tab-size[data-tab-size='2'] {
  -moz-tab-size: 2;
  tab-size: 2;
}

.post .tab-size[data-tab-size='3'] {
  -moz-tab-size: 3;
  tab-size: 3;
}

.post .tab-size[data-tab-size='4'] {
  -moz-tab-size: 4;
  tab-size: 4;
}

.post .tab-size[data-tab-size='5'] {
  -moz-tab-size: 5;
  tab-size: 5;
}

.post .tab-size[data-tab-size='6'] {
  -moz-tab-size: 6;
  tab-size: 6;
}

.post .tab-size[data-tab-size='7'] {
  -moz-tab-size: 7;
  tab-size: 7;
}

.post .tab-size[data-tab-size='8'] {
  -moz-tab-size: 8;
  tab-size: 8;
}

.post .tab-size[data-tab-size='9'] {
  -moz-tab-size: 9;
  tab-size: 9;
}

.post .tab-size[data-tab-size='10'] {
  -moz-tab-size: 10;
  tab-size: 10;
}

.post .tab-size[data-tab-size='11'] {
  -moz-tab-size: 11;
  tab-size: 11;
}

.post .tab-size[data-tab-size='12'] {
  -moz-tab-size: 12;
  tab-size: 12;
}

.post .task-list-item {
  list-style-type: none;
}

.post .task-list-item + .task-list-item {
  margin-top: 3px;
}

.post .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
