.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.marquee-track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 16s linear infinite;
}

.marquee-text {
  font-size: clamp(16px, 2.6rem, 6vw);
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem;
  margin: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}

.stat-cards-wrapper {
  background: url('/images/bg-hex.svg') repeat-x top center;
  background-size: 140px;
  margin-top: 10rem;
}

.stat-cards {
  margin: -6rem 0 4rem;
  padding-left: 2rem;
  display: grid;
  grid-gap: 4rem 8vw;
}

@media screen and (min-width: 52em) {
  .stat-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.stat-card {
  background-color: var(--nsyellow);
  text-align: center;
  border: 1px solid #000;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat-card-header {
  color: #fff;
  margin: 2rem 1rem 1rem 1rem;
  flex: 0 1 auto;
}

.stat-card-inner {
  transform: translate3d(-2rem, 2rem, 0);
  position: relative;
  z-index: 5;
  display: flex;
  flex: 1 0 auto;
}

.stat-card-inner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--nsyellow);
  border: 1px solid;
  transform: translate3d(1rem, -1rem, 0);
}

.stat-card-inner > div {
  background-color: #fff;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.stat-card img {
  width: 100%;
  border-bottom: 1px solid;
}

.stat-card .stat-green {
  color: var(--nsforest);
}
.stat-card .stat-green:before {
  content: '+';
}

.stat-card .stat-red {
  color: var(--nsred);
}

.stat-card figure {
  font-size: clamp(22px, 4.2rem, 6vw);
  margin: 1.2rem 0;
}

.stats-trusted-wrapper > div {
  max-width: calc(100% - 2rem);
  margin: 4rem 0;
  position: relative;
}

.stats-trusted-wrapper > div .marketplace-logos-container {
  background-color: #fff;
  border: 1px solid #000;
  position: relative;
  max-width: 100%;
}

.stats-trusted-wrapper > div:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--nslime);
  border: 1px solid;
  transform: translate3d(1rem, -1rem, 0);
}

.stats-trusted-wrapper .marketplace-logo-grid {
  max-width: 900px;
  margin: 0 auto;
  /* grid-template-columns: repeat(auto-fit, 20%); */
  grid-gap: 2rem;
}
