.stat-cards-wrapper {
  margin-top: 8rem;
}

.stats-card,
.market-stats-card {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  margin: 0 0.25rem;
  box-shadow: black 8px 8px 0 0;
  border-radius: 2px;
}

.market-stats-card {
  padding: 2rem;
}

@media (min-width: 768px) {
  .market-stats-card:nth-child(even) {
    margin-top: 1rem;
  }
}

ul.checked li {
  display: flex;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

ul.checked li:before {
  content: url(/images/check-bullet.svg);
  margin-right: 27px;
  padding-top: 3px;
}

.why-it-matters-card {
  border: 3px solid #000;
  box-sizing: border-box;
  background-color: #f5c32c;
  z-index: 1;
  position: relative;
  margin: 0 0.25rem;
  box-shadow: black 8px 8px 0 0;
  border-radius: 1px;
}
