.stat-cards-wrapper {
  background: url('/images/bg-hex.svg') repeat-x top center;
  background-size: 140px;
  margin-top: 10rem;
}

.stat-card-inner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--nsyellow);
  border: 1px solid;
  transform: translate3d(1rem, -1rem, 0);
}

.stats-trusted-wrapper > div {
  max-width: calc(100% - 2rem);
  margin: 4rem 0;
  position: relative;
}

.stats-trusted-wrapper > div > div {
  background-color: #fff;
  border: 1px solid #000;
  position: relative;
  max-width: 100%;
}

.stats-trusted-wrapper .grid {
  max-width: 800px;
}

.stats-trusted-wrapper > div:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--nslime);
  border: 1px solid;
  transform: translate3d(1rem, -1rem, 0);
}
