:root {
  --nsblack: #000;
  --nswhite: #fff;

  --nsgray: #d8dad9;
  --nsgray-50: #f7f7f7;
  --nsgray-100: #d8dad9;
  --nsgray-200: #bbbbbb;
  --nsgray-300: #7d8492;
  --nsgray-400: #888888;
  --nsgray-500: #666666;
  --nsgray-600: #3b4151;

  --nsltblue: #eef7f6;
  --nsblue: #47aed7;
  --nsforest: #0a854c;
  --nsgreen: #d3e7dc;
  --nslime: #66fecb;
  --nsnavy: #336bad;
  --nsorange: #ee4116;
  --nsorangred: #d53810;
  --nspeach: #ffe1c5;
  --nspink: #f7cdcf;
  --nsred-100: #feebeb;
  --nsred: #e11e2e;
  --nsyellow: #e2ba36;

  --nstitle: ChicagoFLF, sans-serif;
  --sansserif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  --nsmonospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --bradius: 0px;
  --bwidth: 1px;

  --btn-ghost-x: -5px;
  --btn-ghost-y: -5px;
  --btn-ghost-x-hover: -1px;
  --btn-ghost-y-hover: -1px;

  --card-ghost-x: -9px;
  --card-ghost-y: -9px;
  --card-ghost-x-hover: -5px;
  --card-ghost-y-hover: -5px;

  --h2-size: 2em;
  --h3-size: 2em;
  --h4-size: 1.75em;
  --h5-size: 1.5em;
  --h6-size: 1.25em;

  --tab-active-color: var(--nsorange);
  --tab-hover-bgcolor: var(--nsgray-50);
}
