node_modules
coverage
out
build
dist
worker
site/public
docs
packages/niftysave/gen
CHANGELOG.md
.next
.supabase
.prettierignore
.gitignore
.editorconfig
.gitattributes
.devcontainer
**/yarn.lock*
*.toml