/* vars*/

:root {
  --nsblack: #000;
  --nswhite: #fff;

  --nsgray: #d8dad9;
  --nsgray-50: #f7f7f7;
  --nsgray-100: #d8dad9;
  --nsgray-200: #bbbbbb;
  --nsgray-300: #7d8492;
  --nsgray-400: #888888;
  --nsgray-500: #666666;
  --nsgray-600: #3b4151;

  --nsltblue: #eef7f6;
  --nsblue: #47aed7;
  --nsforest: #0a854c;
  --nsgreen: #d3e7dc;
  --nslime: #66fecb;
  --nsnavy: #336bad;
  --nsorange: #ee4116;
  --nsorangred: #d53810;
  --nspeach: #ffe1c5;
  --nspink: #f7cdcf;
  --nsred-100: #feebeb;
  --nsred: #e11e2e;
  --nsyellow: #e2ba36;

  --nstitle: ChicagoFLF, sans-serif;
  --sansserif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  --nsmonospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --bradius: 0px;
  --bwidth: 1px;

  --btn-ghost-x: -4px;
  --btn-ghost-y: -4px;
  --btn-ghost-x-hover: -1px;
  --btn-ghost-y-hover: -1px;

  --h2-size: 2em;
  --h3-size: 2em;
  --h4-size: 1.75em;
  --h5-size: 1.5em;
  --h6-size: 1.25em;
  --h-padscale: 0.2;
}
/* util */
.grid {
  display: grid;
}

/* type */

html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

@font-face {
  font-family: ChicagoFLF;
  src: url('/fonts/ChicagoFLF.woff2') format('woff2');
  font-display: swap;
}

.chicagoflf {
  font-family: var(--nstitle);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--nstitle);
}

h2,
.h2 {
  font-size: var(--h2-size);
  padding: calc(var(--h2-size) * var(--h-padscale)) 0;
}
h3,
.h3 {
  font-size: var(--h3-size);
  padding: calc(var(--h3-size) * var(--h-padscale)) 0;
}

h4,
.h4 {
  font-size: var(--h4-size);
  padding: calc(var(--h4-size) * var(--h-padscale)) 0;
}

h5,
.h5 {
  font-size: var(--h5-size);
  padding: calc(var(--h5-size) * var(--h-padscale)) 0;
}

h6,
.h6 {
  font-size: var(--h6-size);
  padding: calc(var(--h6-size) * var(--h-padscale)) 0;
}

p,
.p {
  font-size: 12px;
  line-height: 16px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--btn-ghost-y) * -1);
  min-width: 7rem;
  padding: 0.5rem;
}

.btn.small {
  min-width: 0;
}

/*Use CSS for button variants*/

.btn.dark {
  color: var(--nswhite);
  background-color: var(--nsblack);
}

.btn.light {
  color: var(--nsblack);
  background-color: var(--nswhite);
}

.btn.caution {
  color: var(--nswhite);
  background-color: var(--nsorangred);
}

.btn.small {
  min-width: auto;
}

.icon-button.transparent {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.icon-button svg {
  outline: 0;
  height: 1rem;
  width: 1rem;
}

/* decorators */
.hologram {
  text-decoration: none;
  border: var(--bwidth) solid var(--nsblack);
  box-shadow: var(--btn-ghost-x) var(--btn-ghost-y) 0px 0px var(--nsgray),
    var(--btn-ghost-x) var(--btn-ghost-y) 0px 1px var(--nsblack);
}

.hologram.interactive {
  transition: all 150ms ease;
  cursor: pointer;
}

svg.interactive.hologram {
  background-color: #ccc;
}

svg.hologram.interactive > g > path {
  stroke-width: 8px;
  stroke-linejoin: round;
  opacity: 1;
}

svg.hologram.interactive:hover > g > path {
  opacity: 0.8;
  fill: none;
  stroke: #ffffff;
}

.hologram.interactive:hover {
  box-shadow: var(--btn-ghost-x-hover) var(--btn-ghost-y-hover) 0px 0px
      var(--nsltblue),
    var(--btn-ghost-x-hover) var(--btn-ghost-y-hover) 0px 1px var(--nsblack);
}

.hologram.ltblue {
  border: var(--bwidth) solid var(--nsblack);
  box-shadow: var(--btn-ghost-x) var(--btn-ghost-y) 0px 0px var(--nsltblue),
    var(--btn-ghost-x) var(--btn-ghost-y) 0px 1px var(--nsblack);
}

.hologram.caution {
  box-shadow: var(--btn-ghost-x) var(--btn-ghost-y) 0px 0px var(--nsgray-50),
    var(--btn-ghost-x) var(--btn-ghost-y) 0px 1px var(--nsblack);
}

.hologram.right {
  box-shadow: calc(var(--btn-ghost-x) * -1) var(--btn-ghost-y) 0px 0px
      var(--nsgray),
    calc(var(--btn-ghost-x) * -1) var(--btn-ghost-y) 0px 1px var(--nsblack);
}

.hologram.right.interactive:hover {
  box-shadow: calc(var(--btn-ghost-x-hover) * -1) var(--btn-ghost-y-hover) 0px
      0px var(--nsorange),
    calc(var(--btn-ghost-x-hover) * -1) var(--btn-ghost-y-hover) 0px 1px
      var(--nsblack);
}

.hologram.card {
  border: var(--bwidth) solid var(--nsblack);
  box-shadow: var(--card-ghost-x) var(--card-ghost-y) 0px 0px var(--nsltblue),
    var(--card-ghost-x) var(--card-ghost-y) 0px 1px var(--nsblack);
}

.hologram.card.right {
  box-shadow: calc(var(--card-ghost-x) * -1) var(--card-ghost-y) 0px 0px
      var(--nsltblue),
    calc(var(--card-ghost-x) * -1) var(--card-ghost-y) 0px 1px var(--nsblack);
}

.hologram.card.interactive {
  transition: all 300ms ease;
  cursor: pointer;
}

.hologram.card.interactive:hover {
  box-shadow: var(--card-ghost-x-hover) var(--card-ghost-y-hover) 0px 0px
      var(--nsorange),
    var(--card-ghost-x-hover) var(--card-ghost-y-hover) 0px 1px var(--nsblack);
}

.hologram.card.right.interactive:hover {
  box-shadow: calc(var(--card-ghost-x-hover) * -1) var(--card-ghost-y-hover) 0px
      0px var(--nsorange),
    calc(var(--card-ghost-x-hover) * -1) var(--card-ghost-y-hover) 0px 1px
      var(--nsblack),
    calc(var(--card-ghost-x-hover) * -2) calc(var(--card-ghost-y-hover) * 2) 0px
      0px var(--nsred),
    calc(var(--card-ghost-x-hover) * -2) calc(var(--card-ghost-y-hover) * 2) 0px
      1px var(--nsblack);
}

/*Diagram*/

.niftysave-diagram {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Modal*/
.modal {
}

.modal-body {
  position: absolute;
  background: rgba(0, 0, 0, 0.95);
  color: var(--nsltblue);
  text-align: center;
  border: var(--bwidth) solid var(--nsltblue);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 20rem;
  box-shadow: 4px -4px 0px 0px var(--nsblack), 4px -4px 0px 1px var(--nsltblue);
}

.modal-content {
  padding: 1rem;
  min-width: 8rem;
  min-height: 8rem;
  display: grid;
}

.modal-content div {
  display: grid;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-close {
  color: #fff;
  transition: all 150ms ease;
  cursor: pointer;
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.modal-close:hover {
  color: #ddd;
}

/*Default Form Elements*/

.input input {
  width: 100%;
  padding: 12px 0px 12px 0px;
  text-indent: 12px;
  border: 0 !important;
  background-color: var(--nsgray-100);
  margin: 0.75rem 0 1.25rem 0;
  transition: all 150ms ease;
  box-shadow: -3px -3px 0px 0px var(--nsblack),
    -3px -3px 0px 1px var(--nsltblue);
}

.input select {
  width: 100%;
  padding: 12px;
  border: 0 !important;
  background-color: var(--nsgray-100);
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* SVG background image */
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 0.6em;
  background-position: calc(100% - 1.3em) center;
  background-repeat: no-repeat;
  margin: 0.75rem 0 1.25rem 0;
  transition: all 150ms ease;
  box-shadow: -3px -3px 0px 0px var(--nsblack),
    -3px -3px 0px 1px var(--nsltblue);
}

.input input:focus,
.input input:active,
.input select:focus,
.input select:active {
  background-color: var(--nswhite);
  border: var(--bwidth) solid var(--nsltblue);
  outline: none;
  box-shadow: -5px -5px 0px 0px var(--nsblack),
    -5px -5px 0px 1px var(--nsltblue);
}

.input label {
  text-align: left;
  display: grid;
}

select::-ms-expand {
  display: none;
}
