name: Cron Metrics

on:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  update:
    name: Update metrics
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ['staging', 'production']
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 15

      - name: Install dependencies
        run: yarn install

      - name: Run job
        env:
          DEBUG: '*'
          ENV: ${{ matrix.env }}
          CF_ACCOUNT: ${{ secrets.CF_ACCOUNT }}
          CF_TOKEN: ${{ secrets.CF_TOKEN }}
        run: yarn --cwd packages/cron start
