name: Website
on:
  push:
    branches:
      - main
    paths:
      - 'packages/website/**'
  pull_request:
    branches:
      - main
    paths:
      - 'packages/website/**'

jobs:
  check:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - uses: bahmutov/npm-install@v1
      # - run: yarn build:website
      - run: yarn test:website
      # Install Playwright browsers
      - run: npx playwright install --with-deps
        working-directory: packages/website
      - run: yarn workspace website run test:e2e
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: website-playwright-report
          path: packages/website/playwright-report/
          retention-days: 30
  release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    name: Release
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: tag-release
        with:
          path: packages/website
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          monorepo-tags: true
          package-name: website
      - uses: actions/checkout@v2
        if: ${{ steps.tag-release.outputs.releases_created }}
      - uses: actions/setup-node@v2
        if: ${{ steps.tag-release.outputs.releases_created }}
        with:
          node-version: '16'
          registry-url: https://registry.npmjs.org/
      - uses: bahmutov/npm-install@v1
        if: ${{ steps.tag-release.outputs.releases_created }}
      - name: Website - Deploy
        if: ${{ steps.tag-release.outputs.releases_created }}
        run: ./packages/tools/cli.js deploy-website --email ${{ secrets.CF_EMAIL }} --key ${{secrets.CF_KEY}} --zone ${{ secrets.CF_ZONE }} --account ${{secrets.CF_ACCOUNT}}
